.horizontal-scrollable > .row {
    overflow-x: auto;
    white-space: nowrap;
}
  
.horizontal-scrollable > .row > .col-xs-4 {
    display: inline-block;
    float: none;
}

/*decorations*/
.col-xs-4 {
    color: white;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 18px;
}
  
.col-xs-4:nth-child(2n+1) {
    background: rgb(236, 205, 147);
}
  
.col-xs-4:nth-child(2n+2) {
    background:rgb(236, 205, 147);
}

/*about author*/
.author-name{
    color: black;
    font-size: medium;
}

.card-img{
    height: 5rem;
    
}